
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300&display=swap');
body{
    background-color: antiquewhite;
}
  *{
    margin:0;
    padding: 0;
  }

  nav{
    font-family: 'Ubuntu', sans-serif;
    
  }

  nav ul{
    display:flex;
    height:40px;
    background-color: black;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    color: aliceblue;
    gap: 30px;
    
    align-items: center;

  }
  .brand{
    display:flex;
    align-items: center;
    gap:3px;
    font-weight: bolder;
    font-size: 1.4rem;
  }

  .brand img{
    width: 27px;
    padding: 0 10px;
  }

  .container{
    min-height: 70vh;
    background-color: black;
    color: white;
    font-family:'Varela Round', sans-serif ;
    width: 70%;
    margin: 18px auto;
    border-radius: 12px;
    display: flex;
    padding: 5px 10px;
    background-image: url("./bg.jpg");
    background-size: cover;
   

  }

  .bottom{
    height: 120px;
    position:sticky;
    bottom: 0;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }

  #myProgressBar{
    width: 80vw;
    margin-bottom: 15px;
  }

  .icons{
    color:white;
    display: flex;
    flex-direction: row;
    gap:15px;
  }

  .icons i{
    cursor: pointer;
  }

  .songPlaying{
    height: 40px;
    width: 90%;
    background-color: aliceblue;
    color: black;
    display: flex;
    font-size: smaller;
    margin-top: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
   

  }
  .songPlaying img{
    width: 37px;
    margin: 0 25px;
    border-radius: 4px;
  }

  .timestamp{
    margin:15px;
  }
  .timestamp i{
    cursor: pointer;
  }

  .songContainer{
    margin-top: 50px;
  }
  .songinfo{
    position: absolute;
    left:6vw;
    font-family: 'Varela Round', sans-serif;
    font-size: 10px;
  }

  .songinfo img{
    opacity:0;
    transition:opacity 0.5s ease-in;
  }